<div class="row">
    <div class="col-8">
        <div class="card mt-1">
            <div class="card-header">
                {{user.name}}
            </div>
            <div class="card-block">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let post of user.posts">
                        <h4>{{post.title}}</h4>
                        <p>
                            {{post.body}}
                        </p>
                        <a href="">{{post.comments.length}} Comments</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>