@import 'params';
@import 'mixins';
@import 'components/all';
@import 'layout/layout.scss';

$blue: #0275d8;

.jsgrid-header-scrollbar {
    overflow: hidden;
}

.jsgrid-grid-body {
    overflow: hidden;
}

.jsgrid-header-row {
    .jsgrid-header-cell {
        background-color: $blue;
        color: white;
    }
}

table {
    tr {
        td:first-child {
            &:hover {
                color: $blue;
                text-decoration: underline;
            }
        }
    }
}